.candydream{
    max-width: 1600px; 
    height: auto;
}
.candydream{
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.backbutton{
    width: 300px;
    height: auto;
    position: absolute;
    bottom: -90px;
    left: 5px;
    z-index: 2;
}