.comfort{
    max-width: 1600px; 
    height: auto;
}
.comfort{
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.eye{
    width: 170px;
    height: auto;
    position: absolute;
    bottom: -30px;
    left: 25px;
    z-index: 2;
}